html {
  height: 100%;
  position: relative;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  /* background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  width: 80%;
  height: 100%;
}

.screen-height {
  height: 100%;
  width: 100%;
}

.no-padding {
  padding: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-left {
  padding-left: 0;
}

.animated {
  -webkit-transform: translate3d(0,0,-1)!important;
  transform: translate3d(0,0,-1)!important;
  -ms-transform: translate3d(0,0,-1)!important;
  -webkit-backface-visibility: inherit!important;
  backface-visibility: inherit!important;
  animation-fill-mode: both;
}

.clean-padding-sides {
  padding-left: 0;
  padding-right: 0;
}

label {
  width: 100%;
}

/* Inputs text */
  input[type="text"] {
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-left: none!important;
    border-right: none!important;
    border-top: none!important;
    /* border: 0; */
    font-size: 100%;
    height: 35px;
    margin: 5px auto 0;
    vertical-align: middle;
    width: 75%;
    outline: none;
  }

/* Tag */
.tag {
  background-color: rgba(255,255,255,.1);
  color           : #fff;
  cursor          : default;
  display         : inline-block;
  font-size       : 90%;
  height          : auto;
  text-align      : center;
  text-decoration : none !important;
  border          : 2px solid rgba(255,255,255,.4);
  margin-bottom   : 5px;
  float           : left;
  margin-right    : 5px;
  min-width       : 50px;
}

.tag:hover {
  background-color: rgba(255,255,255,.4);

}

.tag  a {
  color: #fff;
  display: inline-block;
  padding: 10px 5px;
  text-decoration: none;
}

.tag .icon-btn {
  padding-right: 5px;
}

/* Buttons */
.btn {
  /* background: #050614;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: inherit;
  letter-spacing: 3px;
  margin-left: 10px;
  outline: none;
  padding: .5rem .7rem .5rem .9rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  outline: none; */
}

.icon-btn {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  outline: none;
}

.btn-login {
  background-color: transparent;
  border: 0;
  float: right;
  font-weight: 700;
  letter-spacing: 1.5px;
  cursor: pointer;
  color: #fff;
}

.btn-login:hover {
  text-decoration: underline;
  color: #fff;
}

.btn-outline {
  /* border-color: red; */
  display: inline-block;
  background-color: rgba(255,255,255,.1);
  text-transform: lowercase;
  font-weight: 400;
  letter-spacing: 0;
  padding: .4rem .7rem;
  border: 2px solid rgba(255,255,255,.5);
  width: 100%;
  text-decoration: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.btn-outline:hover {
  color: #fff;
  background-color: rgba(255,255,255,.4);
}

.btn-pink {
  background: #d934ce;
  background-image: -webkit-linear-gradient(top, #d934ce, #952bb8);
  background-image: -moz-linear-gradient(top, #d934ce, #952bb8);
  background-image: -ms-linear-gradient(top, #d934ce, #952bb8);
  background-image: -o-linear-gradient(top, #d934ce, #952bb8);
  background-image: linear-gradient(to bottom, #d934ce, #952bb8);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 4px #993a99;
  -moz-box-shadow: 0px 2px 4px #993a99;
  box-shadow: 0px 2px 4px #993a99;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #7d1f8c 1px;
  text-decoration: none;
}

.btn-pink:hover {
  background: #ec3cfc;
  background-image: -webkit-linear-gradient(top, #ec3cfc, #d934d9);
  background-image: -moz-linear-gradient(top, #ec3cfc, #d934d9);
  background-image: -ms-linear-gradient(top, #ec3cfc, #d934d9);
  background-image: -o-linear-gradient(top, #ec3cfc, #d934d9);
  background-image: linear-gradient(to bottom, #ec3cfc, #d934d9);
  text-decoration: none;
}

.btn-secondary {
  background: #004cbf;
  background-image: -webkit-linear-gradient(top, #004cbf, #3076f0);
  background-image: -moz-linear-gradient(top, #004cbf, #3076f0);
  background-image: -ms-linear-gradient(top, #004cbf, #3076f0);
  background-image: -o-linear-gradient(top, #004cbf, #3076f0);
  background-image: linear-gradient(to bottom, #004cbf, #3076f0);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  -webkit-box-shadow: 3px 4px 4px #1a1a80;
  -moz-box-shadow: 3px 4px 4px #1a1a80;
  box-shadow: 3px 4px 4px #1a1a80;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border: solid #0525f7 1px;
  text-decoration: none;
  /* width: 150px; */
}

.btn-secondary:hover {
  background: #5583e0;
  background-image: -webkit-linear-gradient(top, #5583e0, #3f7dd9);
  background-image: -moz-linear-gradient(top, #5583e0, #3f7dd9);
  background-image: -ms-linear-gradient(top, #5583e0, #3f7dd9);
  background-image: -o-linear-gradient(top, #5583e0, #3f7dd9);
  background-image: linear-gradient(to bottom, #5583e0, #3f7dd9);
  text-decoration: none;
  color: #ffffff;
}

/* Ui Select */
.ui-select-container {
  /* width: 30%; */
}

/* Do not remove the imports bellow */

/*
================================
================================
INSERT CSS BELOW
================================
================================
*/
.ui-select-multiple.ui-select-bootstrap {
  padding: 0;
}
.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  background-color: #fff !important;
}
.ui-select-container {
  width: calc(100% - 38px);
}
.ui-select-container .ui-select-match {
  line-height: 35px;
}
.ui-select-container .ui-select-match .btn {
  height: 35px;
  letter-spacing: normal;
  padding: 0.5rem 0.6rem;
  text-transform: none;
}
.ui-select-container .ui-select-match .btn:hover {
  color: #fff;
}
.ui-select-container input {
  margin-top: 0 !important;
  width: 100% !important;
}
.ui-select-container input:disabled {
  display: block !important;
  opacity: 0.5;
}
.ui-select-container .ui-select-choices {
  background-color: white;
  border: 1px solid black;
  color: #fff;
  margin-bottom: 5px;
  padding: 5px;
  max-height: 200px;
  overflow: auto;
  position: inherit !important;
}
.ui-select-container .ui-select-choices .ui-select-choices-row {
  font-size: 14px;
  padding: 0 2px;
}
.ui-select-container .ui-select-choices .ui-select-choices-row:hover {
  background-color: white;
}
.ui-select-container .ui-select-choices .ui-select-choices-row a {
  color: #fff;
  white-space: normal !important;
}
.ui-select-container .ui-select-choices .ui-select-choices-row.active a {
  color: #fff;
  background-color: black;
}
.ui-select-container .ui-select-choices .ui-select-choices-row-inner:hover {
  color: #fff;
  background-color: black;
  cursor: pointer;
}
.ui-select-container .dropdown-items:hover {
  background-color: black;
  cursor: pointer;
}

/* Placeholders */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
