html {
  height: 100%;
  position: relative;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  /* background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.screen-height {
  height: 100%;
  width: 100%;
}

.no-padding {
  padding: 0;
}

/* Section */
.section {
	margin-top: 60px;
}

.section-container {
	color: #fff;
	background: #824282;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	.section-container img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	.section-container input,
	.section-container button {
		font-size: 18px;
		margin: 16px 0;
	}
	.section-container > div {
		text-align: center;
	}


/* Buttons */
.btn {
  background: #050614;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: inherit;
  letter-spacing: 3px;
  margin-left: 10px;
  outline: none;
  padding: .5rem .7rem .5rem .9rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btn-outline {
  border-color: red;
  display: inline-block;
  background-color: rgba(255,255,255,.1);
  text-transform: lowercase;
  font-weight: 400;
  letter-spacing: 0;
  padding: .4rem .7rem;
  border: 2px solid rgba(255,255,255,.5);
  width: 100%;
  text-decoration: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.btn-outline:hover {
  color: #fff;
  background-color: rgba(255,255,255,.4);
}

.btn-primary {
  background: #d934ce;
  background-image: -webkit-linear-gradient(top, #d934ce, #952bb8);
  background-image: -moz-linear-gradient(top, #d934ce, #952bb8);
  background-image: -ms-linear-gradient(top, #d934ce, #952bb8);
  background-image: -o-linear-gradient(top, #d934ce, #952bb8);
  background-image: linear-gradient(to bottom, #d934ce, #952bb8);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 4px #993a99;
  -moz-box-shadow: 0px 2px 4px #993a99;
  box-shadow: 0px 2px 4px #993a99;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #7d1f8c 1px;
  text-decoration: none;
}

.btn-primary:hover {
  background: #ec3cfc;
  background-image: -webkit-linear-gradient(top, #ec3cfc, #d934d9);
  background-image: -moz-linear-gradient(top, #ec3cfc, #d934d9);
  background-image: -ms-linear-gradient(top, #ec3cfc, #d934d9);
  background-image: -o-linear-gradient(top, #ec3cfc, #d934d9);
  background-image: linear-gradient(to bottom, #ec3cfc, #d934d9);
  text-decoration: none;
}

.btn-secondary {
  background: #004cbf;
  background-image: -webkit-linear-gradient(top, #004cbf, #3076f0);
  background-image: -moz-linear-gradient(top, #004cbf, #3076f0);
  background-image: -ms-linear-gradient(top, #004cbf, #3076f0);
  background-image: -o-linear-gradient(top, #004cbf, #3076f0);
  background-image: linear-gradient(to bottom, #004cbf, #3076f0);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  -webkit-box-shadow: 3px 4px 4px #1a1a80;
  -moz-box-shadow: 3px 4px 4px #1a1a80;
  box-shadow: 3px 4px 4px #1a1a80;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border: solid #0525f7 1px;
  text-decoration: none;
  /* width: 150px; */
}

.btn-secondary:hover {
  background: #5583e0;
  background-image: -webkit-linear-gradient(top, #5583e0, #3f7dd9);
  background-image: -moz-linear-gradient(top, #5583e0, #3f7dd9);
  background-image: -ms-linear-gradient(top, #5583e0, #3f7dd9);
  background-image: -o-linear-gradient(top, #5583e0, #3f7dd9);
  background-image: linear-gradient(to bottom, #5583e0, #3f7dd9);
  text-decoration: none;
  color: #ffffff;
}
