.admin-reps-container {
  height: 100%;
  width:90%;
  margin:auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 10px;
}

.search-row {
  margin-bottom: 50px;
}

.admin-reps-container .card {
  height: 70px;
  width: 100%;
  border: 0px;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  display: inline-block;
  word-wrap: break-word;
  background-color: #fff;
  transition: background-color .5s;
  background-clip: border-box;
  color: #000;
  outline: none;
}

.admin-reps-container .card:hover {
  background-color: #eaeaea;
}

.card .rep-logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  /*top: 0;*/
  /*transform: translateY(0);*/
  margin-left: 10px;
}

.card .rep-fast-info {
  display: inline-block;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  width: calc(100% - 80px);
  float: right;
  padding-left: 10px;
}

.card {
  align-self: center!important;
}

.card h6 {
  color: #99abb4!important;
  margin-bottom: 0;
  margin-top: 10px;
}

.card h2 {
  color: #455a64!important;
  margin-top: 0;
  font-size: 18px;
  /* margin-top: 10px; */
}

.card-infos.reps h2 {
  font-size: 20px;
}

.card-infos.reps h6 {
  padding-right: 25px;
  display: inline-block;
}
