.admin-reps-container {
  height: 100%;
  width:90%;
  margin:auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 10px;
}

.admin-reps-container .card {
  border: 0px;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

.card .card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  color: #000;
  font-weight: 300;
}

.d-flex {
  display: flex!important;
}

.card-icon {
  margin-right: 20px;
  align-self: center!important;
}

.card-infos {
  align-self: center!important;
}

.card-infos h6 {
  color: #99abb4!important;
  margin-bottom: 0;
  margin-top: 10px;
}

.card-infos h2 {
  color: #455a64!important;
  margin-top: 0;
  /* margin-top: 10px; */
}

.card-infos.reps h2 {
  font-size: 20px;
}

.card-infos.reps h6 {
  padding-right: 25px;
  display: inline-block;
}
