<div class="admin-reps-container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
      <div class="input-search">
        <input type="text" ng-model="search" class="search" placeholder="Pesquisar...">
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" ng-style="{'margin-top': '10px'}">
      <span>{{reps.length}} repúblicas cadastradas</span>
    </div>
  </div>
  <div class="row search-row">
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10"></div>
    <div class="col-xs-12 col-sm-4 offset-sm-8 col-md-3 offset-md-9 col-lg-2 offset-lg-12" ng-style="{'margin-top': '10px'}">
      <button type="button" class="btn btn-outline" ng-click="methods.createRep()">Cadastrar nova rep</button>
    </div>
  </div>
  <div class="row">
    <div deckgrid source="repsSearched" class="deckgrid">
    <div class="card" ng-click="mother.methods.getDetails(card)">
      <div class="rep-logo" ng-style="{ 'background-image': 'url(' + card.url + ')' }"> </div>
      <div class="rep-fast-info">
        <h2 class="name" ng-bind="::card.name"></h2>
        <h6 class="status">Coringa: {{::card.joker}}</h6>
      </div>
    </div>
   </div>
  </div>

</div>
