<div class="register">
  <div class="navbar">
    <div class="navbar-container">
      <div class="aaauso-logo"></div>
      <div class="admin-menu">
        <ul class="ul-options">
          <li class="menu-name" ng-class="{'active' : currentMenu.value === item.value}" ng-repeat="item in menu">
            <a ng-click="methods.setCurrentMenu(item)">
              <span>
                <i class="{{item.icon}}"></i>
                <span class="name">{{item.name}}</span>
              </span>
            </a>
          </li>
        </ul>

        <div class="btn-group ul-options-dropdown" uib-dropdown is-open="status.isopen" uib-dropdown dropdown-append-to-body>
          <button id="single-button" type="button" class="btn btn-outline" uib-dropdown-toggle >
            {{currentMenu.name}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem" ng-repeat="item in menu" ng-class="{'active' : currentMenu.value === item.value}">
              <a ng-click="methods.setCurrentMenu(item)">{{item.name}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="user-info">
        <div class="rep-logo" ng-style="{ 'background-image': 'url(' + rep.logo + ')' }"></div>
        <div class="rep-name">
          <div class="rep-name-container">
            <div class="btn-group ul-options-dropdown" uib-dropdown is-open="logout.isopen" uib-dropdown dropdown-append-to-body>
            <button id="single-button" type="button" class="icon-btn" uib-dropdown-toggle >
              <span class="rep-name-label">República {{rep.name}}</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem"><a ng-click="methods.logout()" style="cursor: pointer;">sair</a></li>
            </ul>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="register-layer" >
    <div class="register-parent-container">
      <div class="register-container" id="register" ng-if="currentMenu.value === 'register'">
        <div class="register-title">
          <h1>Inscrição (Custo total: R${{totalCost || 0}},00)</h1>
        </div>
        <div class="register-form">
          <div class="col-md-6 names-form">
            <h3 class="register-title">Participantes</h3>
            <form novalidate ng-submit="methods.addParticipant()">
              <div class="register-input">
                <label>Escreva o nome e o apelido de cada participante e clique no botão ou pressione 'enter' para adicioná-lo:</label>
                <input type="text" placeholder="Nome" class="email animated clean-padding-sides" ng-model="participant.name" required/>
                <input type="text" placeholder="Apelido" class="email animated clean-padding-sides" ng-model="participant.username"/>

                <button class="icon-btn" type="submit" ng-click="methods.addParticipant" ng-disabled="!participant.name"><i class="add-participant fas fa-plus-circle fa-lg"></i></button>
              </div>
            </form>
            <div class="participants">
              <div class="" ng-repeat="participant in participants track by $index">
                <span class="tag animated animated-fill">
                  <span ng-if="::removeCallback" class="tag-remove-btn" ng-click="methods.remove(index)"></span>
                  <a>{{participant.name}} <span ng-if="participant.username">({{participant.username}})</span></a>
                  <button class="icon-btn" ng-click="methods.removeParticipant($index)"><i class="fas fa-trash"></i></button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6 competitions-form">
            <div class="" >
              <div class="section-info">
                <label>Selecione as provas que desejam participar:</label>
              </div>
              <div class="col-md-4">
                <label class="comp-type">Esportes</label>
                <div class="checkboxes" ng-repeat="comp in allCompetitions.sports track by $index">
                  <label class="custom-checkboxes icon-btn" ng-if="(comp.genre && comp.genre == rep.genre) || !comp.genre">
                    <input class="check" type="checkbox" checklist-change="methods.clearTeam(comp)" data-checklist-model="selectedCompetitions" data-checklist-value="comp" checklist-comparator=".name" />
                    <i class="unchecked far fa-square fa-lg"></i>
                    <i class="checked far fa-check-square fa-lg"></i>
                    <span>{{comp.name}}</span>
                  </label>
                </div>
              </div>
              <div class="col-md-4">
                <label class="comp-type">Não alcóolicos</label>
                <div class="checkboxes" ng-repeat="comp in allCompetitions.nonAlcoholic.individual track by $index">
                  <label class="custom-checkboxes icon-btn">
                    <input class="check" type="checkbox" checklist-change="methods.clearTeam(comp)" data-checklist-model="selectedCompetitions" data-checklist-value="comp" checklist-comparator=".name"/>
                    <i class="unchecked far fa-square fa-lg"></i>
                    <i class="checked far fa-check-square fa-lg"></i>
                    <span>{{comp.name}}</span>
                  </label>
                </div>
                <div class="checkboxes" ng-repeat="comp in allCompetitions.nonAlcoholic.team track by $index">
                  <label class="custom-checkboxes icon-btn" ng-if="(comp.genre && comp.genre == rep.genre) || !comp.genre">
                    <input class="check" type="checkbox" checklist-change="methods.clearTeam(comp)" data-checklist-model="selectedCompetitions" data-checklist-value="comp" checklist-comparator=".name"/>
                    <i class="unchecked far fa-square fa-lg"></i>
                    <i class="checked far fa-check-square fa-lg"></i>
                    <span>{{comp.name}}</span>
                  </label>
                </div>
              </div>
              <div class="col-md-4">
                <label class="comp-type">Alcóolicos</label>
                <div class="checkboxes" ng-repeat="comp in allCompetitions.alcoholic.individual track by $index">
                  <label class="custom-checkboxes icon-btn">
                    <input class="check" type="checkbox" checklist-change="methods.clearTeam(comp)" data-checklist-model="selectedCompetitions" data-checklist-value="comp" checklist-comparator=".name" />
                    <i class="unchecked far fa-square fa-lg"></i>
                    <i class="checked far fa-check-square fa-lg"></i>
                    <span>{{comp.name}}</span>
                  </label>
                </div>
                <div class="checkboxes" ng-repeat="comp in allCompetitions.alcoholic.team track by $index">
                  <label class="custom-checkboxes icon-btn">
                    <input class="check" type="checkbox" checklist-change="methods.clearTeam(comp)" data-checklist-model="selectedCompetitions" data-checklist-value="comp" checklist-comparator=".name" />
                    <i class="unchecked far fa-square fa-lg"></i>
                    <i class="checked far fa-check-square fa-lg"></i>
                    <span>{{comp.name}}</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <h3 class="register-title">Participantes X Provas</h3>
            <label>Agora selecione o(s) participante(s) que irá(ão) competir cada prova:</label>
            <div class="col-md-3" ng-repeat="comp in selectedCompetitions track by $index">
              <label>{{comp.name}} (max: {{comp.maxParticipants}})</label>
              <ui-select ng-model="comp.team" theme="bootstrap" multiple limit="{{comp.maxParticipants}}">
                <ui-select-match>
                  <span ng-bind="$item.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in participants | filter: $select.search track by $index">
                  <span>{{item.name}} <span ng-if="item.username">({{item.username}})</span></span>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="row save-btn-row">
            <button type="button" class="btn btn-outline" ng-click="methods.validateForm()">Salvar</button>
          </div>
        </div>
      </div>
      <div class="schedules-container" id="schedule" ng-if="currentMenu.value === 'schedule'">
        schedule
      </div>
      <!-- <div class="scores-container" id="scores" ng-if="currentMenu.value === 'scores'">
        <uib-tabset active=0>
          <uib-tab index="0" heading="Classificação geral"><div ng-include="'app/admin/scores/abas/geral.html'"></div></uib-tab>
        </uib-tabset>
      </div> -->
      <div class="rules-container" id="rules" ng-if="currentMenu.value === 'rules'">
        <pre>
          {{ rules }}
        </pre>
      </div>


    </div>
  </div>
</div>
