<div class="register">
  <div class="navbar">
    <div class="navbar-container">
      <div class="aaauso-logo">

      </div>
      <div class="user-info">
        <div class="rep-logo" ng-style="{ 'background-image': 'url(' + img + ')' }"></div>
        <div class="rep-name">
          <div class="rep-name-container">
            <span class="name">República {{user.name}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="register-layer">
    <div class="register-parent-container">
      <div class="register-container">
        <div class="register-title">
          <h1>Inscrição (Custo total: R${{totalCost || 0}},00)</h1>
        </div>
        <div class="register-form">
          <div class="col-md-6 names-form">
            <h3 class="register-title">Participantes</h3>
            <form novalidate ng-submit="methods.addParticipant()">
              <div class="register-input">
                <label>Escreva o nome de cada participante e clique no botão ou pressione 'enter' para adicioná-lo:</label>
                <input type="text" placeholder="Nome" class="email animated clean-padding-sides" ng-model="participant.name" required/>
                <button class="icon-btn" type="submit" ng-click="methods.addParticipant"><i class="add-participant fas fa-plus-circle fa-lg"></i></button>
              </div>
            </form>
            <div class="participants">
              <div class="" ng-repeat="participant in participants track by $index">
                <span class="tag animated animated-fill">
                  <span ng-if="::removeCallback" class="tag-remove-btn" ng-click="methods.remove(index)"></span>
                  <a>{{participant.name}}</a>
                  <button class="icon-btn" ng-click="methods.removeParticipant($index)"><i class="fas fa-trash"></i></button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6 competitions-form">
            <!-- <h3 class="register-title">Provas</h3>
            <div class="section-info">
              <label>Selecione o combo de prova(s) que desejam:</label>
            </div> -->
            <!-- <div class="col-md-12 no-padding">
              <select name="comp-select" id="comp-select" ng-model="selectedPrice" ng-change="methods.changePrice()">
                <option class="select-options" value="" disabled selected>Selecione</option>
                <option class="select-options"  ng-repeat="item in prices" value={{item}}>{{item.name}} (R${{item.price}})</option>
              </select>
            </div> -->
            <div class="" >
              <div class="section-info">
                <label>Selecione as provas que desejam participar:</label>
              </div>
              <div class="col-md-4">
                <label class="comp-type">Esportes</label>
                <div class="checkboxes" ng-repeat="sport in allCompetitions.sports track by $index">
                  <label class="custom-checkboxes icon-btn">
                    <input class="check" type="checkbox" data-checklist-model="selectedCompetitions" data-checklist-value="sport" checklist-comparator=".name" />
                    <i class="unchecked far fa-square fa-lg"></i>
                    <i class="checked far fa-check-square fa-lg"></i>
                    <span>{{sport.name}}</span>
                  </label>
                </div>
              </div>
              <div class="col-md-4">
                <label class="comp-type">Não alcóolicos</label>
                <div class="checkboxes" ng-repeat="comp in allCompetitions.nonAlcoholic.individual track by $index">
                  <label class="custom-checkboxes icon-btn">
                    <input class="check" type="checkbox" data-checklist-model="selectedCompetitions" data-checklist-value="comp" checklist-comparator=".name"/>
                    <i class="unchecked far fa-square fa-lg"></i>
                    <i class="checked far fa-check-square fa-lg"></i>
                    <span>{{comp.name}}</span>
                  </label>
                </div>
                <div class="checkboxes" ng-repeat="comp in allCompetitions.nonAlcoholic.team track by $index">
                  <label class="custom-checkboxes icon-btn">
                    <input class="check" type="checkbox" data-checklist-model="selectedCompetitions" data-checklist-value="comp" checklist-comparator=".name"/>
                    <i class="unchecked far fa-square fa-lg"></i>
                    <i class="checked far fa-check-square fa-lg"></i>
                    <span>{{comp.name}}</span>
                  </label>
                </div>
              </div>
              <div class="col-md-4">
                <label class="comp-type">Alcóolicos</label>
                <div class="checkboxes" ng-repeat="comp in allCompetitions.alcoholic.individual track by $index">
                  <label class="custom-checkboxes icon-btn">
                    <input class="check" type="checkbox" data-checklist-model="selectedCompetitions" data-checklist-value="comp" checklist-comparator=".name" />
                    <i class="unchecked far fa-square fa-lg"></i>
                    <i class="checked far fa-check-square fa-lg"></i>
                    <span>{{comp.name}}</span>
                  </label>
                </div>
                <div class="checkboxes" ng-repeat="comp in allCompetitions.alcoholic.team track by $index">
                  <label class="custom-checkboxes icon-btn">
                    <input class="check" type="checkbox" data-checklist-model="selectedCompetitions" data-checklist-value="comp" checklist-comparator=".name" />
                    <i class="unchecked far fa-square fa-lg"></i>
                    <i class="checked far fa-check-square fa-lg"></i>
                    <span>{{comp.name}}</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <h3 class="register-title">Participantes X Provas</h3>
            <label>Agora selecione o(s) participante(s) que irá(ão) competir cada prova:</label>
            <div class="selects" ng-repeat="comp in selectedCompetitions track by $index">
              <label>{{comp.name}} (max: {{comp.maxParticipants}})</label>
              <ui-select ng-model="comp.team" theme="bootstrap" multiple limit="{{comp.maxParticipants}}">
                <ui-select-match>
                    <span ng-bind="$item"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in participants | filter: $select.search track by $index">
                    <span ng-bind="item"></span>
                </ui-select-choices>
            </ui-select>
            </div>
          </div>
          <div class="row save-btn-row">
            <button type="button" class="btn btn-outline" ng-click="methods.save()">Salvar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
